.App{
    background: rgb(102, 160, 157);
    width: 30%;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.welcome{
    color: white;
    font-weight: bold;
}
.question{
    color:black;
    font-weight: normal;
    background-color: thistle;
    margin: 4px;
    /* border:1px solid red; */
    padding-bottom: 5px;
}
.everyQuestion{
    padding:10px;
    margin: 3px;
    background: wheat;
    color:black;
    display: flex;
    /* border: 3px solid green; */
    align-items: center;
    justify-content: center;
}
#pagination{
    display: flex;
    justify-content: space-between;
}

.labels{
    /* border: 1px solid red; */
    display: flex;
    width: 70%;
    /* justify-content: center; */
    /* align-items: center; */
}
input[type="text"]{
    width: 90%;
    /* float: left; */
}
.radio{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
#radios{
    /* border:1px solid blue; */
    display: flex;
    margin: 0 auto;
}